body 
{
    margin:0px;
    padding:0px;
}
h2{
    text-align: center;
    background-image:url("https://media.npr.org/assets/img/2021/07/16/gettyimages-630263206-e21e85c1e9121a8f6204ccb11ffc0fd973406ae5-s1100-c50.jpg");
    margin: 0px;
    padding:15px;
}
#title_ div
{
    padding:10px;
    text-align:centre;
    background-color: #8a2be2;
}   
#form_div{
    padding: 15px;
    text-align:center;
    background-color: aquamarine;
}
#results_div{
    padding: 10px;
}
#about_button{
    float:right;
}






